/.gradle/7.6/checksums/checksums.lock
/.gradle/7.6/checksums/md5-checksums.bin
/.gradle/7.6/checksums/sha1-checksums.bin
/.gradle/7.6/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.6/dependencies-accessors/gc.properties
/.gradle/7.6/executionHistory/executionHistory.bin
/.gradle/7.6/executionHistory/executionHistory.lock
/.gradle/7.6/fileChanges/last-build.bin
/.gradle/7.6/fileHashes/fileHashes.bin
/.gradle/7.6/fileHashes/fileHashes.lock
/.gradle/7.6/fileHashes/resourceHashesCache.bin
/.gradle/7.6/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/buildfingerprint.bin
/.gradle/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/entry.bin
/.gradle/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/projectfingerprint.bin
/.gradle/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/work.bin
/.gradle/configuration-cache/configuration-cache.lock
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/build/reports/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/60680v0vtjjvdvwb5z3ky017k/configuration-cache-report.html
/.gradle/configuration-cache/7z898mjwegxwr6d0z5yesx8bg/buildfingerprint.bin
/.gradle/configuration-cache/7z898mjwegxwr6d0z5yesx8bg/entry.bin
/.gradle/configuration-cache/7z898mjwegxwr6d0z5yesx8bg/projectfingerprint.bin
/.gradle/configuration-cache/7z898mjwegxwr6d0z5yesx8bg/work.bin
/build/reports/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/1o45ayawhuxwgsr7yf7ev2l0z/configuration-cache-report.html
/.gradle/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/
/.idea/
