/.gradle/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/buildfingerprint.bin
/.gradle/configuration-cache/configuration-cache.lock
/.gradle/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/entry.bin
/.gradle/7.6/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/.gradle/configuration-cache/gc.properties
/.gradle/7.6/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/projectfingerprint.bin
/.gradle/7.6/fileHashes/resourceHashesCache.bin
/.gradle/7.6/checksums/sha1-checksums.bin
/.gradle/configuration-cache/ebat0ic20yl0wuq0cnfxiw8w/work.bin
